/*some styling for error at form*/
form {
    border-radius: 5px;
    background-color:#f2f2f2 ;
    padding: 20px;
}

/*input focus error */
input.error, input.error:focus{
    border: 2px solid red;
}

/*error text styling */
label.error{
    color: red;
    font-size: 14px;
}

/*valid input*/
/*input.valid, input.valid:focus{*/
/*    border: 2px solid green;*/
/*}*/

/**************************************/

/*error message styling for */
/*password validity*/

.emsg{
    color: red;
}
.hidden {
    visibility:hidden;
}
