.register_anchor_container{
    margin-top: 10px;
}

.register_anchor{
    color: gray;
    text-decoration: none;

    /*necessary to be inline block for <a> to transform*/
    display: inline-block;
    transition: all .2s;
    -webkit-backface-visibility: hidden;
}

.register_anchor:hover{
    color: #04116b;
    cursor: pointer;
    text-decoration: none;
    /*box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);*/
    transform: scale(1.2);
}